body{
	background-color: #FFB6C1;
}
#header-nav{
	background-color: #FFF;
	border-radius: 0;
	border: 0;
	color: #000;
}
#title{
	color: #78BFD0;
	font-size: 2.7em;
}
.text-center{
	color: #0E7685;
	margin: 20px;
}
#box{
	background-color: #CBDCDF;
	padding: 20px;
	margin: 20px 50px 50px 50px;
	border: 3px solid;
	border-color: gray;
}
p{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #3B3D3E;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #1BA8BC;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  color: #FFB6C1;
  border: 1px solid #FFB6C1;
  background-color: #FFF;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
.icon-bar{
	padding: 1px;
	color: #FFB6C1;
	margin: 2px;
	background-color: #FFB6C1;
}
